{% extends 'base.html' %} 
{% block content %}
<html>
<head>
    <title>Recomendar Película</title>
</head>
<body>
    <h1>Recomendación de Película</h1>
    <form method="GET" action="{% url 'recommendation' %}">
        <label for="req_text">Ingresa una descripción o palabra clave:</label>
        <input type="text" id="req_text" name="req_text" required>
        <button type="submit">Obtener Recomendación</button>
    </form>
    <p>Searching for: {{req_text}}</p> 
</body>
</html>
{% endblock content %}